.education-content{ 
    display: flex;
    flex-direction: row;
    align-content: space-around;
    
}

.education-img {
    display: flex;
    flex-direction: column;
    max-height: 200px;
    height: 200px; /* Desired height */
    overflow: auto;
}